
<div class="subheader" style="background-image: url(/Resources/home_burger_subheader.jpg);">
      <p class="text1" style="color:#eee3df; font-size: 60px; margin-top: 150px;">Shop</p>
    </div>
<div class="" style="background-color: whitesmoke; padding: 20px;">
  <h1 class="text1" style="font-size: 36px; margin-bottom: 20px; font-family: 'Arvo', serif; text-align: center;">Our Delicious Products</h1>

  <div class="container2" style="padding-bottom: 100px;">
    <div class="row1" style="flex-wrap: wrap; justify-content: center; gap: 20px;">
      <% products.forEach(product => { %>
        <div class="item1" style="width: 28%; display: flex; flex-direction: column; align-items: center; text-align: center; background-color: white; padding: 15px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
          <% if (product.image) { %>
            <img src="/images/uploaded/<%= product.image %>" alt="<%= product.name %>" style="width: 100%; height: auto; margin-bottom: 10px;">
          <% } else { %>
            <p>No Image</p>
          <% } %>
          <p class="item_name" style="margin-bottom: 5px;">
            <%= product.name %> <span class="theme_color">$<%= product.price %></span>
          </p>
          <p class="item_desc" style="margin-bottom: 10px;">
            <%= product.description %>
          </p>
          <a href="#" class="button" style="background-color: #e3ca96; color: white; text-decoration: none; padding: 10px 20px; border-radius: 5px; width: 150px ;">Buy Now</a>
        </div>
      <% }) %>
    </div>
  </div>
</div>

